
.main{

}

.root{


    -fx-somcolor: #2c9561;
}


.text{
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow( three-pass-box , rgb(211, 211, 211), 10, 0.0 , 0 , 0 );

}

.radio-button{
    -fx-border-color: #e2e4e2;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-background-color: #ffffff;
    -fx-background-insets: 0px;
    -fx-padding: 10px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-cursor: hand;
}

.text-field{

    -fx-focus-color: #ffffff;
    -fx-faint-focus-color: #ffffff;
    -fx-border-color: #e2e4e2;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-background-color: #ffffff;
    -fx-background-insets: 0px;
    -fx-padding: 10px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.text-field:focused{
    -fx-border-width: 1px 1px 1px 10px;
    -fx-border-color: -fx-somcolor;
    -fx-text-fill: -fx-somcolor;

}

.loginbtn{
    -fx-background-color: -fx-somcolor;
    -fx-text-fill: derive(white, 50%);
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow( three-pass-box , rgb(122, 122, 122), 10, 0.0 , 0 , 0 );
    -fx-pref-height: 40px;
    -fx-pref-width: 110px;

}

.loginbtnAlt{
    -fx-text-fill: -fx-somcolor;
   // -fx-background-color: derive(white, 50%);
    -fx-border-color: -fx-somcolor;
    -fx-pref-height: 39.5px;
    -fx-border-width: 2px;
    -fx-effect: dropshadow( three-pass-box , rgb(211, 211, 211), 10, 0.0 , 0 , 0 );
}

.check-box{
    -fx-checked-color:-fx-somcolor;

}

.feild-image{
    -fx-opacity: .9;
    -fx-effect: innershadow( gaussian , -fx-somcolor, 7 , 1 , 1 , 1 );

}

.button:hover{
    -fx-cursor: hand;
}

.mainPane{
    -fx-background-color: -fx-somcolor;

}
.main{
    -fx-background-color: rgba(255, 255, 255, 0.98);
  //      -fx-effect: innershadow( gaussian , -fx-somcolor, 7 , 1 , 1 , 1 );

}
.icon{
    -fx-background-color: rgba(251, 251, 255, 0.77);
    -fx-background-radius: 1px;
    -fx-border-radius: 1px;
    -fx-border-width: 3px;
    -fx-border-color: rgba(254, 255, 253, 0.53);
    -fx-border-insets: -10px;
    -fx-padding: 10px;
}


.farm{
    -fx-effect: dropshadow( three-pass-box , rgba(72, 72, 72, 0.4), 0, 0.0 , 8 , 8 );

}