.root{


    -fx-somcolor: #164a30;
}


.text{
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow( three-pass-box , rgb(211, 211, 211), 10, 0.0 , 0 , 0 );

}

.top{
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #004254;
    -fx-background-color: -fx-somcolor;
    -fx-effect: dropshadow( gaussian , rgb(110, 110, 110), 10, 0.0 , 0 , 0 );

}
.middle{
    -fx-background-color: white;
   -fx-effect: innershadow( gaussian , rgba(188, 176, 184, 0.75), 7 , 0 ,0 , 9 );


}
.bottom{
    -fx-background-color: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #004254;

}
.anchorBtn{
    -fx-background-color: -fx-somcolor;
    -fx-background-color: linear-gradient(to right, #004254, -fx-somcolor);
    -fx-width: 150px;
    -fx-height: 60px;
    -fx-border-width: 1px 1px 1px 1px;
 //   -fx-border-color: rgba(0, 37, 56, 0.33);

    -fx-background-radius: 1px;
    -fx-border-radius: 1px;
    -fx-effect: dropshadow( gaussian , rgb(169, 169, 169), 10, 0.0 , 0 , 0 );
    -fx-effect: dropshadow( gaussian , #004254, 10, 0.0 , 0 , 0 );

}

.st{
    -fx-effect: dropshadow( gaussian , #004254, 10, 0.0 , 0 , 0 );
    -fx-background-color: linear-gradient(to right, #004254, -fx-somcolor);

}

.nd{
    -fx-effect: dropshadow( gaussian , #164a30, 10, 0.0 , 0 , 0 );
    -fx-background-color: #164a30;
}
.rd{
    -fx-effect: dropshadow( gaussian , #004254, 10, 0.0 , 0 , 0 );
    -fx-background-color: linear-gradient(to right,  -fx-somcolor, #004254);


}

.button{
    -fx-cursor: hand;
}